<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081869654938-d8211m3mtkfvq5ue8jpu0kuk6fa8s0ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081869654938-d8211m3mtkfvq5ue8jpu0kuk6fa8s0ok</string>
	<key>API_KEY</key>
	<string>AIzaSyDFBAA8IqeEuEraEVKqOihbH9G2fvPrDBk</string>
	<key>GCM_SENDER_ID</key>
	<string>1081869654938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theintellify.continuummedia</string>
	<key>PROJECT_ID</key>
	<string>arbooks-353cc</string>
	<key>STORAGE_BUCKET</key>
	<string>arbooks-353cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081869654938:ios:1688282cc546e2ec8ff823</string>
</dict>
</plist>